.moreWrapper{
    background: #000;
    display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
/* overflow: hidden; */
align-items: center;
margin-top: 130px;
overflow: hidden;
}
.moreimg{
    height: fit-content;
    opacity: 0.5;
    width: 100%;
    transition: 0.8s;
}
.moreimg:hover{
    transform: scale(1.1);
}
.moreTxt{
    color: white;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 36px;
}
.moreContent{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}